<div class="example-container">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Sign up</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill" class="email-field">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                <button mat-icon-button matSuffix 
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide">              
                </button>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                <button mat-icon-button matSuffix 
                (click)="hide = !hide" 
                [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide">              
                </button>
            </mat-form-field>
            
            
          <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions>
         <button mat-raised-button (click)="signup()" color="primary">Signup</button>
        </mat-card-actions>
      </mat-card>
    </div>